<ion-header>
  <ion-toolbar style="--background: #cc0000; --color:#f2f2f2">
      <ion-thumbnail slot="start">
          <ion-img src="assets/favicon.png"></ion-img>
      </ion-thumbnail>
      <ion-buttons slot='start'>
          <ion-button *ngIf="!(testURL())" (click)="goBack()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
        <ion-buttons slot="end">
                <ion-text>
                    Welcome {{user?.name}}
                </ion-text>
                <ion-button color="danger" large (click)="authService.logout()">
                    LOGOUT
                </ion-button>
            </ion-buttons>
  </ion-toolbar>
</ion-header>
