
<app-header title="Add word"></app-header>
<ion-content [fullscreen]="true"> 
    <div id="container">
        <ion-card>
            <ion-card-header>
              <ion-card-title>Add Word</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <form [formGroup]="addWordForm"> 
                <ion-item>
                    <ion-label position="floating">Name</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Meaning</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                  <ion-item>
                    <ion-chip *ngFor="let s of sentences; let i = index;">
                        <ion-label>{{s}}</ion-label>
                        <ion-icon name="close-outline" (click)="removeSentence(i)"></ion-icon>
                    </ion-chip>
                  </ion-item>
                    <ion-label position="floating">Sentences</ion-label>
                    <ion-input (keyup)= "addSentence($event)" formControlName="sentence"></ion-input>
                </ion-item>
              </form>
            </ion-card-content>
          </ion-card>
    </div>
</ion-content>
