  <app-header title="Your words"></app-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-item>
            <ion-button tooltip="Sort words" style="--background: #cc0000;" [ngStyle]="{'color': sorted ? 'green' : 'white'}" (click)="sort()"><ion-icon name="funnel"></ion-icon></ion-button>
        </ion-item>
        <ion-item>
          <ion-icon name="shuffle" [ngClass]="{'active-toggle' : randomFeature, 'inactive-toggle' : !randomFeature}"></ion-icon><ion-toggle style="--background-checked: #cc0000; --handle-background-checked: white;" [checked]="randomFeature" (ionChange)="randomize($event)"></ion-toggle>
        </ion-item>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-item *ngIf="!filtersService.isEmpty()">
          <ion-chip style="--background: #cc0000; color: white">
            Filters applied
            <ion-icon style="color: white" name="close" (click)="resetForm()"></ion-icon>
          </ion-chip>
        </ion-item>
      </ion-buttons>
    </ion-toolbar>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button style="--background: #cc0000;" (click)="presentPopover(null)">
        <ion-icon name="list"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <ion-list *ngIf="!loading" lines="none">
    <ion-item *ngFor="let word of words" >
        <ion-card style="min-width: 200px; width: auto">
          <ion-card-header>
            <ion-card-title>{{word.name}}</ion-card-title>
            <ion-card-subtitle>{{word.meaning}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <h5>Sentences:</h5>
              <ion-item *ngFor="let sentence of word.sentences">
                  <ion-card style="width: 100%;">
                      <ion-card-content style="word-wrap: break-word !important">{{sentence}}</ion-card-content>
                  </ion-card>
                  <br>
              </ion-item>
            </ion-list>
            <ion-list>
              <h5>Tags:</h5>
              <ion-item *ngFor="let tag of word.tags">
              <ion-card style="width: auto; height: auto">
                  <ion-card-content>{{tag}}</ion-card-content>
              </ion-card>
            </ion-item>
            </ion-list>
            <ion-list>
              <h5>Types:</h5>
              <ion-item *ngFor="let type of word.types">
                <ion-card style="width: auto; height: auto">
                    <ion-card-content>{{type}}</ion-card-content>
                </ion-card>
              </ion-item>
            </ion-list>
            <ion-list>
                <h5>Synonyms:</h5>
                <ion-item *ngFor="let synonym of word.synonyms">
                <ion-card style="width: auto; height: auto">
                    <ion-card-content>{{synonym}}</ion-card-content>
                </ion-card>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
    </ion-item>
  </ion-list>
  <!-- <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div> -->
    <ion-list *ngIf="loading">
      <ion-item *ngFor="let x of skeletonArray">
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="crescent"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<style>
  .active-toggle {
    color: #cc0000;
  }
  .inactive-toggle {
    color: grey;
  }
</style>

